
.env
src/main/resources/application.properties

/build/
/target/
/out/

node_modules/

.DS_Store
Thumbs.db

.idea/
*.iml
.vscode/

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
pnpm-lock.yaml

.git/

coverage/
