.blog-m{
    background-color:#edeae8;
    width:100%;
}
.blog-container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  font-family: sans-serif;
  background-color: white;
    box-shadow: 0 0 5px #ddd;
}

.blog-header {
  margin-bottom: 30px;
}

.blog-breadcrumb {
  color: #888;
  font-size: 14px;
}

.blog-title {
  font-size: 28px;
  font-weight: bold;
  margin: 10px 0;
  color:#020203;
}

.blog-author{
  color:#020203;
  opacity: 70%;
}

.blog-meta {
  color: #666;
  font-size: 14px;
  margin-bottom: 15px;
}

.blog-image {
  width: 100%;
  border-radius: 10px;
  margin: 20px 0;
}

.blog-content p {
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 20px;
}

.blog-content {
  line-height: 1.8;
  max-width: 800px;
  margin: auto;
  padding: 1rem;
  color: #020203;
}

.blog-content h1 {
  margin-top: 1.5rem;
  color: #a11008; /* accent color */
}

.blog-content ul {
  padding-left: 1.5rem;
}

.blog-content a {
  color: #f69200;
  text-decoration: underline;
}


.blog-tags {
  margin-top: 20px;
}

.blog-tag {
  display: inline-block;
  background-color: #a11008;
  color:white;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 14px;
  margin: 5px 8px 5px 0;
}

.blog-reactions {
  margin-top: 20px;
  font-size: 16px;
}

.blog-like,
.blog-comment-count {
  margin-right: 20px;
}

.blog-comments {
  margin-top: 40px;
}

.comment {
  margin-bottom: 20px;
  border-style:solid;
  border-top-width:0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-color:#acadad;
}

.comment-author {
  font-weight: bold;
}

.comment-time {
  color: #888;
  font-size: 12px;
  margin-left: 10px;
}

.comment-form {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.comment-form input {
  flex: 1;
  padding: 8px;
  font-size: 14px;
}

.comment-form button {
  background-color: #007bff;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.blog-like.liked {
  color: red;
  font-weight: bold;
}

.blog-tags {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}


.blog-tag:hover {
  background-color: #f69200;
  cursor: default;
  color:black;
}

